<div class="cover-header">
	<img class="cover-header img-responsive" src="/img/OddJob_WhiteLogo.png" alt="Odd-Job">
	<div class= "cover-text">
		<a href="#/job"><h3 class="cover-text-group btn btn-lg btn-primary">Find</h3></a>
		<h1 class="cover-text-group"> or </h1>
		<a href="#/job/create"><h3 class="cover-text-group btn btn-lg btn-primary">Post</h3></a>

		<h1>Seattle Jobs</h1>		
	</div>
</div>	
<div id="cover">
	<img src="/img/construction-work-carpenter-tools.jpg" alt="Cover photo">
</div>                

