<div class="intro-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-message">
                <h1>Odd-Job</h1>

                <h3>Find & Post Odd-Jobs around Seattle</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                        <a class="btn btn-default btn-lg" ng-click="signIn()">Google+ SignIn</a>
                    </li>
                    <li id="signOutLink" ng-show="getSignedInState()" on-click="return false">
                        <a class="btn btn-default btn-lg" ng-click="signOut()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2>View Jobs</h2>

            <p class="lead">Looking for some work?</p>
            <a href="#/job" class="btn btn-default btn-lg">Find An Odd-Job</a>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="/img/push-lawn-mowing.jpg" alt="Lawn mowing image">
        </div>
    </div>
</div>

<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Post an Odd-JOb</h2>

            <p class="lead">All you need is a Google account!</p>
            <a href="#/job/create" class="btn btn-default btn-lg">Post an Odd-Job</a>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="/img/painting.jpg" alt="">
        </div>
    </div>
</div>
