<div class = "container" ng-controller="ProfileDetailCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row" ng-init="init()">
        <div class="col-md-9">
            <div class="well well-sm">
                <h2>{{profile.displayName}}</h2>
                <h5>{{profile.phoneNumber}}</h5>

                <div>
                    <label for="poster">profile Listing User: </label>
                    <span id="poster">{{profile.posterDisplayName}}</span>
                </div>
            </div>
            <form class="form" novalidate role="form">
                <fieldset>
                    <div>
                        <label for="city">City: </label>
                        <span id="city">{{profile.city}}</span>
                    </div>
                    <div>
                        <label for="state">State: </label>
                        <span id="state">{{profile.state}}</span>
                    </div>                    <div>
                        <label for="tags">Topics: </label>
                        <span id="tags">
                            <span ng-repeat="tag in profile.tags" class="label label-primary label-separated">{{tag}}</span>
                        </span>
                    </div>
                    <div>
                        <label for="postDate">Post Date: </label>
                        <span id="postDate">{{profile.postDate | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                    <div>
                        <label for="completionDate">Complete By Date: </label>
                        <span id="completionDate">{{profile.completionDate | date:'dd-MMMM-yyyy'}}</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
