<div ng-controller="ShowJobCtrl" ng-init="queryJobs()">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Show Jobs</h1>
        </div>
    </div>
	<div ng-show="submitted && jobs.length == 0">
        <h3>No matching results.</h3>
    </div>
    <div ng-show="submitted && jobs.length > 0">  
	    <tabset id="show-jobs" justified="true">
	        <tab select="SearchByList()" heading="List"></tab>
	        <tab select="SearchByMap()" heading="Map"></tab>
	    </tabset>
		<div class="tab_content">
			<div ng-show="selectedTab == 'MAP'">	
	            <div id="map"></div>
	            <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
	         			<a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
	    		</div>
	        </div>
	        <div ng-show="selectedTab == 'LIST'">      
		       <div class="table-responsive" ng-show="jobs.length > 0">
				<label>Search: 
	    			<input type="text" name="input" placeholder="Yard Work" ng-model="search.text">
	  			</label>
	  			<table id="job-table" class="table table-striped table-hover">
		            <thead>		            
		               <tr>
		                   <th width="20%" ng-class = "{underline : checkUnderline('postDate')}" ng-click="orderFilter('postDate')">Post Time</th>
		                   <th width="10%" ng-class = "{underline : checkUnderline('title')}" ng-click="orderFilter('title')">Title</th>
		                   <th width="50%">Description</th>
		                   <th width="10%" ng-class = "{underline : checkUnderline('totalPay')}" ng-click="orderFilter('totalPay')">Total Pay</th>
		                   <th width="10%" ng-class = "{underline : checkUnderline('posterDisplayName')}" ng-click="orderFilter('posterDisplayName')">Poster</th>
		               </tr>
		             </thead>
		             <tbody>
		                <tr class=animate-repeat ng-repeat="job in jobs | filter: search.text | orderBy: columnFilter | startFrom: pagination.currentPage * pagination.pageSize | limitTo: pagination.pageSize">
		                    <td>{{job.postDate | date:'mm:hh dd-MMMM-yyyy'}}</td>
		                    <td><a href="#/job/{{job.websafeJobKey}}">{{job.title}}</a></td>
		                    <td>{{job.description | limitTo:75}}</td>
		                    <td>{{job.totalPay | currency}}</td>
		                    <td><a href="#/profile/{{job.websafeProfileKey}}">{{job.posterDisplayName}}</a></td>
		                </tr>
		             </tbody>
		       </table>
		     </div>
		     <div class="text-center">
			<ul class="pagination" ng-show="jobs.length > 0">
		        <li ng-class="{disabled: pagination.currentPage == 0 }">
		            <a ng-class="{disabled: pagination.currentPage == 0 }"
		    	    ng-click="pagination.isDisabled($event) || (pagination.currentPage = 0)">&lt&lt</a>
		        </li>
		        <li ng-class="{disabled: pagination.currentPage == 0 }">
		            <a ng-class="{disabled: pagination.currentPage == 0 }"
		               ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage - 1)">&lt</a>
		            </li>
		        <!-- ng-repeat creates a new scope. Need to specify the pagination.currentPage as $parent.pagination.currentPage -->
		        <li ng-repeat="page in pagination.pageArray()" ng-class="{active: $parent.pagination.currentPage == page}">
		            <a ng-click="$parent.pagination.currentPage = page">{{page + 1}}</a>
		        </li>
				<li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
		            <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
		                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage + 1)">&gt</a>
		        </li>
		        <li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
		            <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
		                       ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.numberOfPages() - 1)">&gt&gt</a>
		        </li>
		     </ul>
		     </div>
	   		</div>
      	</div>

    </div>
</div>
</div>
